<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">\n    <uses-permission android:name="android.permission.READ_SMS" />
    <application
        android:allowBackup="true"
        android:label="HomeFlow Test"
        android:icon="@drawable/ic_home"
        android:roundIcon="@drawable/ic_home"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"\n            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".HomeFlowWidget" android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.homeflow.test.WIDGET_MAID" />
                <action android:name="com.homeflow.test.WIDGET_MILK" />
                <action android:name="com.homeflow.test.WIDGET_AWAY" />
                <action android:name="com.homeflow.test.WIDGET_VERIFY" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info" />
        </receiver>
    </application>
</manifest>
